@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --surface: #F1F0EC;
  --muted: #F9FAFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins;
}